.title-4 {
    font-weight: bold;
    font-size: 4.836rem;
    line-height: 5.7rem;
    margin: 3.5rem 0 2.4rem;
}

.btn-back {
    background: #fff;
    color: #2b2b2b;
    padding: .8rem 2rem;
    text-align: center;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    transition: background-color .3s;
}

.btn-back:hover {
    background: aquamarine;
}

.btn-back svg {
    stroke: #2b2b2b;
}